  <!--SEGUNDA CARTA-->
  <div class="card mat-card" id="second-card">
   
    <div>
   
      <div class="btn-edit"><a href="#" class="btn-right" style="float:right"><i class="fa fa-pen"></i></a></div>   
      <button value="editar" id="eliminar_acerca" style="display:none; float: right;" onclick="parrafo_editado()"><img class="editar-png" src="img/sumar4.jpg" alt=""></button>
      <h5>Acerca de </h5>
    </div>
    <div class="box-acerca-de">
    <p id="text-acercade">{{miPortfolio.about}}</p>
    <br>
    
  </div>
  <input id="edit-acercade" oninput="myFunction2(this.value)" style="display:none" type="text">
  



  </div>

