<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="../assets/img/banner.gif" alt=""></div>
    <div id="info" style="padding:16px">
      <div id="info-img">
        <div class="btn-edit" style="float:right ;"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>   
        <img class="profile-img" src="../assets/img/perfil_definido.jpg" alt="">
      </div>
      <div id="info-data">
        <div>
            <h1>{{miPortfolio.name}}</h1> 
            <div id="info-company">{{miPortfolio.position}}</div>
            <div id="info-contact">
                <span>{{miPortfolio.ubication}}</span>
                <span><a href="#">Informacion de contacto</a></span>
            </div>
        </div>
        <div id="info-details" class="float-end">
              <a href="http://simbel.com.ar"><img src="../assets/img/simbel-320.png" alt=""></a>    
        </div>
      </div>
      <div id="info-actions">
      <a target="_blank" href="https://www.linkedin.com/in/matias-fontenla-a46640181/"> <img src="../assets/img/linkedin.jpg" alt="" id="linkedin"></a> 
    </div>
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn btn-light">Añadir seccion</button>
        <button type="button" class="btn btn-light">Más</button>
    </div>
            </div>
    </div>
