.mat-card{
    margin: 15px 40px;
    padding: 0px;
    box-shadow: 1px 2px 11px 5px #ccc;
}

.editar-png{
    width: 23px;
    background: none;
    border: none;
    margin-top: -23px;
    display: block;
}
.editar-png-exp{
    width: 30px;
    background: none;
    border: none;
    right: 50px;
}
.edit-borrar{
    display: flex;
    justify-content: space-between;
    margin-top: -70px;
    width: 80px;
}
#editar_acerca{
    background: none;
    border: none;
    float: right;

}
.box-acerca-de{
    display: flex;
}
.box-acerca-de p {
    width: 100%;
}



#first-card{
    padding: 0;
    border-radius: 32px 32px 32px 32px;
}
#linkedin{
    width: 50px;
    height: 50px;
}
div #profile-background{
    display: flex;
}

#profile-background img{
    padding: 0px;
    width: 100%;
    max-height:500px ;
    border-radius: 32px 32px 0 0;
}
.profile-img{
    border-radius: 50%;
    width: 160px;
    height: 200px;
    margin-top: -110px;
    z-index: 1;
}

div #info-actions{
    display: flex;
}
#info-details{
    margin-top: -250px;
    display: flex;
}

#info-details img{
    margin-top: 150px;
    width: 100px;
    border-radius: 30%;
    margin-right: 15px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;

}
#info-details img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
    
}
#info-actions button{
    margin: 10px 10px 10px 0px;
}

/*second card*/
#second-card{
    padding: 0;
}
#second-card h5{
    padding: 10px 25px 10px 25px;
}
#second-card p{
    padding-left: 50px;
}
#editar_acerca{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.borrar-png{
width: 35px;
margin-left: 2px;
margin-top: 5px;
}
button .sumar-png{
width: 38px;
background: none;
margin-top: 5px;
}



/*third card*/
#titulo-experiencia{
    background: rgb(247, 247, 247);
    padding-top: 5px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0px 5px 5px 0px #ccc;
}
.experiencias-img{
    max-height: 100px;
    width: 110px;
    margin-top: 10px;
}    
.fecha{
    font-size: 13px;
}
.experiencias{
    padding: 40px;
   border-bottom: 0px 0px 0px 0px #ccc;
   
}
.experiencias button{
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;

    background: none;
    border: none;
    margin-top: -140px;
    margin-right: -40px;
}

.experiencias button:hover{
filter: none;
-webkit-filter: grayscale(0%);
}
.card-proyectos{
    margin: 20px;
    box-shadow: 1px 1px 3px 1px #ccc;
    min-width: 300px;
    max-width: 500px;
    max-height: 1500px;
}
.proyectos-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*DARLE ESTILOS A EDUCACION*/
#editar_educacion {
    float: right;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: none;
    border: none;
}
#editar_educacion img{
    margin-top: 1px;
}
.card-header{
    background: rgb(248, 248, 248) !important;
    height: 50px;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
}
.card-proyectos{
    max-width: 500px;
    min-width: 500px;
}
.card-proyectos img{
    object-fit: cover;
   
}

@keyframes load{
    0%{
      box-shadow: 0 0 #9c5d30 inset;
    }
    100%{
      box-shadow: 0 -70px #422412 inset;
    }
  }
  .loader{
    transform: perspective(140px) rotateX(-45deg);
    width: 32px;
    height: 72px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    animation: load 3s linear infinite;
    float:right
  }